html{
  font-size: 25px;
}

body{
  display: block;
  margin:0;
  background-color: white;
}

.grey-bg{
  background-color: lightgrey;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;

}

div{
  display: block;
}

p{
  display: block;
}

/* Fixed Header */

.header{
  display: flex;
  font-family: sans-serif;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 64px;
  top: 0;
  padding: 0 24px;
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 65%;
  height: 32px;
}

.colmar{
  color: black;
  font-weight: bold;
}

.academy{
  color: grey;
}

.header nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  margin-right: 48px;
  font-size: 14px;
}

nav a{
  color: black;
}

nav, span.link{
  display: inline-block;
  padding-left: 16px;
}

/* Banner */

.banner{
  display: flex;
  align-items: center;
  padding-top: 64px;
  width: 100%;
}

.left-column{
  width: 60%;
  padding: 32px 24px;
  flex-grow: 1;
}

.left-column img{
  width: 100%;
  display: block;
  overflow: hidden;
}

.right-column{
  width: 40%;
}


.container h1{
  font-size: 4rem;
  font-weight: bold;
  color: darkgrey;
  margin-bottom: 30px;
  display: block;
}

.container h3{
  font-size: 2rem;
  font-weight: bold;
  color: darkgrey;
  margin-bottom: 30px;
}

.btn{
  background-color: darkgrey;
  width: 60%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}

.btn a{
  font-size: 1.25rem;
  color: white;
}

/* Campus Information */

.campus-info{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.campus-info .right-column{
  border-left: 1px solid lightgrey;
  padding-top: 16px;
}

.info-image img{
  width: 100%;
}

.info-description{
  width: 65%;
  padding-left: 20px;
}

.featured-info h1{
  margin: 32px 0 24px 0;
}

.featured-info .title{
  margin-top: 50px;
  font-weight: bold;
}

.first, .second, .third, .fourth{
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 16px;
}

.fourth{
  border-bottom: 0;
}

.first h3, .second h3, .third h3{
  margin-bottom: 10px;
  font-weight: normal;
  color: black;
}

.third{
  background-color: lightgrey;
}

/* Courses */

.section-header{
  padding: 32px 0;
  text-align: center;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
  overflow: hidden;
}

.courses .course{
  flex: auto;
  justify-content: space-around;
  padding-left: 20px;
}

.course{
  width: 30%;
  flex-direction: column;
  margin-bottom: 32px;
}

.course img{
  width: 100%;
}

.description{
  background-color: white;
}


/* Thesis */

.thesis{
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.thesis .right-column{
  padding-top: 16px;
}

.thesis .first, .second{
  border-bottom: 0;
  display: flex;
  align-items: center;
  padding: 16px;
}

/*  Footer */

.footer{
  display: flex;
  font-family: sans-serif;
  border-top: 1px solid lightgrey;
  align-items: center;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 100px;
  top: 0;
  padding: 0 24px;
  font-size: 14px;

}

.footer span{
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 65%;
  height: 32px;
}

.footer nav{
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-right: 48px;
}
