html{
  font-size: 25px;
}

body{
  display: block;
  margin:0;
  background-color: white;
}

.grey-bg{
  background-color: #99CC99;
}

.container{
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

div{
  display: block;
}

p{
  display: block;
}

/* Fixed Header */

.header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #003366;
  height: 4rem;
  top: 0;
  padding: 0 1.75rem;
  font-family: 'Open Sans', sans-serif;
}

.logo{
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 65%;
  height: 3rem;
}

.logo img{
  height: 80%;
}

.colmar{
  color: #99CC99;
  font-weight: 800;
  font-size: 1.25rem;
  margin: 0 0.4rem;
}

.academy{
  color: #99CC99;
  font-weight: 300;
  font-size: 1.25rem;
}

.header nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  margin-right: 3rem;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
}

.header nav a{
  color: #99CC99;
}

.header nav a:hover{
  color: white;
  transition: color 100ms ease-in-out;
}

nav, span.link{
  display: inline-block;
  padding-left: 1rem;
}

.mobile-nav{
  display: none;
}

/* Banner */

.banner{
  display: flex;
  align-items: center;
  padding-top: 4rem;
  width: 100%;
}

.left-column{
  width: 60%;
  padding: 2rem 1.5rem;
  flex-grow: 1;
}

.left-column img{
  width: 100%;
  display: block;
  overflow: hidden;
}

.right-column{
  width: 40%;
  padding-right: 3rem;
}

.container h1{
  font-size: 4rem;
  font-weight: 800;
  color: #993300;
  margin-bottom: 2rem;
  display: block;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
}

.container h3{
  font-size: 2rem;
  font-weight: bold;
  color: darkgrey;
  color: #003366;
  font-family: 'EB Garamond', serif;
  margin-bottom: 4rem;
  line-height: 1.25;
}

.banner .right-column button {
  font-size: 1.25rem;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #993300;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: 1rem 10rem;
  color: white;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.banner .right-column button:hover{
  font-size: 1.25rem;
  color:#993300;
  background-color: white;
}

/* Campus Information */

.campus-info{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.campus-info .right-column{
  padding: 1rem 0;
  padding-right: 3rem;
}

.info-image img{
  width: 100%;
}

.info-description{
  width: 65%;
  padding-left: 1.5rem;
}

.secondary-info .first:hover, .second:hover, .third:hover{
  background-color: #993300;
  color: white;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.featured-info h1{
  font-size: 3.5rem;
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  color:  #99CC99;
}

.first, .second, .third{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.first h3, .second h3, .third h3{
  margin-bottom: 0.5rem;
  font-weight: 800;
  color:  #99CC99;
  font-family: 'Open Sans', sans-serif;
}

.campus-info p{
  font-size: 1.15rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  font-family: 'EB Garamond', serif;
}

.title{
  font-family: 'EB Garamond', serif;
  font-style: oblique;
}

/* Courses */

.section-header{
  padding: 32px 0;
  text-align: center;
}

.course-bg .section-header h1{
  color: #99CC99;
}

.course-bg{
  background-color: #003366;
}

.courses{
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
  overflow: hidden;
}

.courses .course{
  flex: auto;
  justify-content: space-around;
  padding-left: 30px;
}

.course{
  width: 30%;
  flex-direction: column;
  margin-bottom: 32px;
}

.course img{
  width: 100%;
}

.description{
  background-color: white;
  padding: 25px;
  height: 9rem;
}

.description:hover{
  background-color: #993300;
  color: white;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.description h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 0;
  padding-bottom: 1.2rem;
  color: #99CC99;
}

.course .title{
  font-family: 'EB Garamond', serif;
  font-style: oblique;
  padding-bottom: 1.2rem;
}

.course .topics{
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
}

.mobile-course{
  display: none;
}

/* Thesis */

.thesis{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.thesis .right-column{
  padding: 1rem 0;
  padding-right: 3rem;
}

.thesis .first, .second{
  border-bottom: 0;
  display: flex;
  align-items: center;
  padding: 16px;
}

.featured-thesis h3{
  font-size: 2.5rem;
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color:  #99CC99;
}

.thesis p{
  font-size: 1.15rem;
  line-height: 1.5;
  padding-bottom: 1rem;
  font-family: 'EB Garamond', serif;
}

.info-description{
  width: 65%;
  padding-left: 1.5rem;
}

.secondary-thesis .first:hover, .second:hover{
  background-color: #993300;
  color: white;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}


.first, .second, .third{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.first h3, .second h3, .third h3{
  margin-bottom: 0.5rem;
  font-weight: 800;
  color:  #99CC99;
  font-family: 'Open Sans', sans-serif;
}

/*  Footer */

.footer{
  display: flex;
  font-family: sans-serif;
  border-top: 1px solid lightgrey;
  align-items: center;
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 100px;
  top: 0;
  padding: 0 24px;
  font-size: 14px;
}

.footer span{
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 65%;
  height: 32px;
}

.footer nav{
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-right: 48px;
}

/*      MEDIA QUERIES        */

@media only screen and (max-width: 560px) {

html{
  font-size: 14px
}

.header{
  display: none;
}

header{
    padding: 0 0;
}

header .logo {
  display: none;
}

header nav{
  display: none;
}

/* nav */

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  height: 4rem;
  background-color:  #003366;
}

.mobile-nav a{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.mobile-nav img{
  height: 50%;
  padding-right: 1.5rem;
}

/* banner */

.banner{
  display: inline;
  padding: 0;
  width: 100%
}

.banner .left-column{
  width: 100%;
  padding: 0;
}

.banner .right-column{
  width: auto;
  padding-bottom: 2rem;
}

.banner .right-column button{
  width: 93%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.banner .right-column h1{
  font-size: 3rem;
  padding:  1.25rem;

}
.banner .right-column h3{
  padding: 0 1.25rem;
}

/* Campus Information */

.featured-info{
  display: none;
}

.secondary-info{
  width: 100%;
  display: inline;
}

.campus-info .right-column{
  padding: 0;
}

/* Courses */

.courses{
  display: none;
}

.section-header{
  padding-bottom: 1rem;
}

.section-header h1{
  font-size: 3rem;
}

.mobile-course{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: #003366;
  padding-bottom: 1rem;
}

.course-bg .container h3{
  margin: 0rem;
}

.mobile-course h3{
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin: 0.25rem 1rem;
}

.mobile-course h3:hover{
  background-color: #993300;
  color: white;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

/* Thesis */

.secondary-thesis{
  display: none;
}
}
